body {
  line-height: normal;
  font-size: 100%
  background-color: #ff0000;
  color: #0000FF;
}

nav {
  line-height: normal;
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.blue {
  background-color: #0000ff;
  color: #FFFFFF;
}

.logo {
  background: url('bloc-logo.png') no-repeat;
  margin: 20px;
  width: 100px;
}

.large-pic {
  background: url('instagram-pic.jpg') no-repeat;
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  line-height: normal;
  font-size: 100%
  float: right;
  padding: 30px;
}

article {
  line-height: normal;
  font-size: 100%
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a {
  text-decoration: none;
}

a:link { color:#0070BB; }

*{font-size: 100%
}
