body {
  line-height: 1.5rem;
  font-size: 16px;
  text-align: left;
  background-color: #FFFFFF;
  color: #000000;
}

nav {
  line-height: normal;
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

p {
  line-height: 20x;
  margin-bottom: 14px;
}

.blue {
  background-color: #0000ff;
  color: #FFFFFF;
}

.logo {
  /*background: url('../images/bloc-logo.png') no-repeat;*/
  margin: 20px;
  width: 100px;
}

.large-pic {
  /*background: url('../images/instagram-pic.jpg') no-repeat;*/
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  line-height: normal;
  font-size: 100%;
  float: right;
  padding: 30px;
}

h1 {
  font-size: 3rem;
}

h3{
  font-size: 1.6rem;
  line-height: 28px;
  margin-bottom: 14px;
}

article {
  line-height: normal;
  font-size: 100%;
  padding-top: 100px;
}

figcaption {
  font-size: 1rem;
  margin-bottom: 14px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a {
  text-decoration: none;
}

a:link {
  font-size: 1.3rem;
  color:#0070BB;
}

a:hover {
  color: #FFFFFF;
}


*{font-size: 100%;
}
